.w{
    width: 1240px;
    margin: 0 auto;
}

.shortcut{
    height: 52px;
    background-color: #333;
}
.shortcut .w ul li{
    float: left;
    height: 52px;
    line-height: 52px;
}
.shortcut .w ul li a{
    font-size: 14px;
    color: #dcdcdc;
    padding: 0 16px;
    border-right: 1px solid #666;
}
.shortcut .w ul li:last-child a{
    border: 0;
}
.shortcut .w ul li:last-child a span{
    display: inline-block;
    width: 11px;
    height: 16px;
    margin-bottom: 2px;
    margin-right: 8px;
    background-image: url(../image/sprites.png);
    background-repeat: no-repeat;
    background-position:-160px -70px;
    vertical-align: middle;
}

.header{
    height: 70px;
    margin: 30px auto;
}
.logo{
    float: left;
    width: 210px;
    height: 70px;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav{
    float:left;
    width: 720px;
    height: 70px;
    line-height:70px;
    margin-left:20px ;
}
.nav li{
    float: left;
    margin:0 24px;
}
.nav li a{
    padding-bottom: 7px;
}
.nav li a:hover{
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}
.search{
    float: left;
    position: relative;
    width: 172px;
    height: 30px;
    margin-top: 20px;
    margin-left:60px;
}
.search input{
    padding-left: 30px;
    width: 172px;
    height: 28px;
    border-bottom: 2px solid #e7e7e7;
}
.search input::placeholder{
    color: #ccc;
    font-size: 14px;
}
.search span{
    /* 绝对定位的元素可以设置宽高 */
    position: absolute;
    left:0;
    top:2px;
    background-image: url(../image/sprites.png);
    width: 17px;height: 17px;
    background-position:-80px  -70px;
}
.car{
    float:right;
    position: relative;
    width: 23px;
    height: 23px;
    margin-top: 24px;
    margin-right:20px;
    background-image: url(../image/sprites.png);
    background-position: -120px -70px;
}
.car span{
    position: absolute;
    /* width: 30px; */
    height: 14px;
    top:-7px;
    left: 12px;
    padding: 0 7px;/* 自适应数量 */
    border-radius:7px;
    background-color: #e26237;
    text-align: center;
    font-size: 13px;
    line-height: 14px;
    color: #fff;
}

.bgc{
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
}
.banner{
    width: 1240px;
    height: 500px;
    background-image: url(../uploads/banner_1.png);
    background-size: contain;
}
.banner-nav{
    width: 250px;
    height: 500px;
    background-color: #000;
    opacity: 0.8;
}
.banner-nav li{
    width: 251px;
    height: 50px;
    padding: 17px 19px 17px 36px;
}
.banner-nav li:hover{
    background-color: #27ba9b;
}
.banner-nav .key-word .left{
    float: left;
    width: 32px;
    height: 16px;
    font-size: 16px;
    color:#fff;
}
.banner-nav .key-word .center{
    float: left;
    height: 14px;
    font-size: 14px;
    color:#fff;
    margin-left: 15px;
}
.banner-nav .key-word .right{
    float: right;
    width: 10px;
    height: 12px;
    margin-top: 7px;
    background-image: url(../image/sprites.png);
    background-position:-80px -110px;
}
.banner-right{
    width: 990px;
    height: 500px;
}
/* 左右箭头功能样式 */
.change{
    width: 45px;
    height: 44px;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url(../image/sprites.png);
}
.banner-right .left{
    margin:230px 935px 228px 9px;
    float: left;
    background-position: 15px -60px;
}
.banner-right .right{
    margin: 228px 10px 228px auto;
    background-position: -25px -60px;
}


/* 亮点介绍 */
.haowu{
    width: 1243px;
    height: 471px;
    margin-top: 48px;
}
.haowu .disc{
    height: 29px;
}
.haowu .disc .Highlights{
    float: left;
    width: 114px;
    height: 29px;
    font-size:25px;
    color: #333;
}
.haowu .disc .Highlights-disc{
    float:left;
    width:134px;
    height:16px;
    margin: 11px 0 2px 20px;
    font-size:14px;
    color:#999
}
.haowu .check-Highlights{
    width: 100px;
    float: right;
}
.haowu .check-Highlights .check-title{
    float: left;
    width: 65px;
    height: 16px;
    font-size: 16px;
    color: #999;
    margin-top: 8px;
}
.haowu .check-Highlights .jiantou{
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    width: 7px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: 0 -110px;
}
.product{
    margin-top: 35px;
}
.product-list{
    position: relative;
    float: left;
    margin-right:6px;
}
.product img{
    width: 304px;
    height: 305px;
}
.product .new-product{
    position: absolute;
    top: 18px;
    left: 17px;
    width: 28px;
    height: 51px;
    color:#27ba9b;
    border: 1px solid #27ba9b;
    padding-left:4px;
}
.product .product-disc{
    width: 304px;
    height: 100px;
    background-color: #f0f9f4;
    padding: 20px 60px 70px 69px;
} 

.product .product-disc .product-title{
    width: 200px;
    height: 25px;
    font-size: 20px;
    color: #333;
}
.product .product-disc .price{
    width: 304px;
    height: 18px;
    margin-top: 19px;
    margin-left: 62px;
}
.product .product-disc .price .mi-hao{
    color: #9a2e1f;
    font-size: 10px;
}
.product .product-disc .price .mi{
    font-size: 22px;
    color: #9a2e1f;
}
/* 亮点介绍结束 */

/* 人气推荐部分开始 */
.renqi{
    width: 1245px;
    height: 473px;
    margin-top: 47px;
}
.renqi .disc{
    width: 1200px;
    height: 28px;
    margin-bottom: 40px;
}
.renqi .disc .Highlights{
    float: left;
    width: 115px;
    height: 28px;
    font-size: 28px;
    color:#333
}
.renqi .disc .Highlights-disc{
    float: left;
    width: 123px;
    height: 18px;
    margin-top: 10px;
    margin-left:34px;
    font-size: 14px;
    color:#999
}
.renqi .popular img{
    width: 304px;
    height: 305px;
}
.renqi .popular .product-disc{
    width: 304px;
    height: 100px;
    padding: 22px 85px 23px 59px;
}
.renqi .popular .product-title{
    width: 200px;
    font-size: 21px;
    color: #333;
    margin-left:20px;
}
.renqi .popular li:nth-of-type(3) .product-highlights{
    margin-left: 30px;
}
.renqi .popular .product-highlights{
    margin-top:9px;
    font-size: 16px;
    color: #999;
    margin-left: 8px;
}
.mt{
    margin-top: 55px;
    padding-top: 42px;
}
.remen .disc{
    height: 28px;
}
.remen .disc .Highlights{
    font-size: 29px;
    color: #333;
}
.remen .disc .Highlights-disc{
    margin-top:10px;
    margin-left: 35px;
    height: 16px;
    font-size: 16px;
    color: #999;
}
.remen .green-jiantou{
    margin-top: 11px;
    height: 20px;
}
.remen .green-jiantou .left{
    width: 20px;
    height: 24px;
    background-color: #e2e2e2;
    background-image: url(../image/sprites.png);
    background-position:2px -70px;
}
.remen .green-jiantou .right{
    width: 20px;
    height: 24px;
    margin-left:12px;
    background-color: #27ba9b;
    background-image: url(../image/sprites.png);
    background-position:-35px -70px;
}
.remen .img{
    margin-top: 20px;
}
.remen .img li{
    float: left;
    margin-right:4px;
}
.remen .img img{
    width: 244px;
    height: 306px;
}

/* 产品品展示开始 */
.three-product{
    width: 1240px;
    height: 673px;
    margin-top: 34px;
}
.three-product .three-top{
    height: 28px;
    margin-bottom: 34px;
}
.three-product .three-top .three-title{
    float: left;
    width: 57px;
    height: 28px;
    font-size: 25px;
    color: #333;
    
}
.three-product .three-top .three-disc{
    float: left;
    width: 358px;
    height: 20px;
    margin-left: 674px;
    padding-top: 5px;
}
.three-product .three-top a{
    width: 46px;
    height: 20px;
    margin-right:7px;
}
.three-product .three-top .three-check{
    float: right;
    width: 100px;
    height: 16px;
    padding-top: 5px;
}
.three-product .three-top .three-check-title{
    float: left;
    width: 64px;
    height: 16px;
    font-size: 16px;
    color: #999;
}
.three-product .three-top .three-check-jiantou{
    float: left;
    margin-top: 6px;
    margin-left:10px;
    width: 7px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: 0 -110px;
}

.three-product-list img{
    float: left;
    width: 242px;
    height: 617px;
    margin-right: 34px;
}
.three-product-list .three-list .someone-product{
    float: left;
    width: 200px;
    height: 304px;
    margin-right: 40px;
}
.three-product-list .someone-product img{
    float: left;
    width: 184px;
    height: 184px;
    margin-bottom: 12px;
}
.three-product-list .three-product-title{
    float: left;
    padding-left: 7px;
}
.three-product-list .someone-product .three-product-disc{
    width: 184px;
    height: 54px;
    font-size: 16px;
    color: #333;
}
.three-product-list .someone-product .three-product-price{
    color:#9a2e1f;
    font-size: 22px;
}

/* 产品品展示结束 */

/* 最新主题 */
.new-topics{
    width: 1240px;
    height: 430px;
}
.new-topics .new-topics-top{
    width: 1240px;
    height: 60px;
    font-size: 25px;
    color: #333;
}
.new-topics .new-topics-top .new-topics-disc{
    float: left;
    margin-right:1040px;
}
.new-topics .new-topics-top .new-topics-check-title{
    float: left;
    width: 65px;
    height: 16px;
    font-size: 16px;
    color: #999;
}
.new-topics .new-topics-top .new-topics-jiantou{
    float: left;
    margin-top: 6px;
    margin-left:10px;
    width: 7px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: 0 -110px;
}
.new-topics .new-topics-list{
    width: 1240px;
    height: 356px;
}
.new-topics .new-topics-list .topics-list{
    position: relative;
    float: left;
    width: 404px;
    height: 356px;
    background-color: #fff;
    margin-right: 5px;
}
.new-topics .new-topics-list img{
    width: 404px;
    height: 288px;
}
.new-topics .new-topics-list .topics-disc{
    position: absolute;
    top: 220px;
    left: 15px;
    width: 240px;
    color: #fff;
    font-size: 20px;
}
.new-topics .new-topics-list .topics-title2{
    color: #999;
    font-size: 16px;
}
.new-topics .new-topics-list .topics-price{
    position: absolute;
    top: 232px;
    right: 18px;
    background-color: #fff;
    color: #9a2e1f;
    font-size: 17px;
}

.new-topics .new-topics-list .num{
    float: left;
    color: #999;
    margin-top: 30px;
}
.new-topics .new-topics-list .dianzan{
    margin-left: 17px;  /* 89 r47 */
}
.new-topics .new-topics-list .liulan{
    margin-left: 89px;
}
.new-topics .new-topics-list .pinglun{
    margin-left: 341px;
}
.new-topics .new-topics-list #a1{
    float: left;
    width: 15px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: -120px -110px;
    margin-top: 35px;
}
.new-topics .new-topics-list #a2{
    float: left;
    width: 15px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: -160px -110px;
    margin-top: 35px;
}
.new-topics .new-topics-list #a3{
    float: left;
    width: 15px;
    height: 13px;
    background-image: url(../image/sprites.png);
    background-position: -200px -110px;
    margin-top: 35px;
}
/* 结束 */

/* 页脚开始 */
.footer-services{
    height: 300px;
}


/* 服务1 */
.footer-services .services1{
    float: left;
    width: 192px;
    height: 143px;
    margin-top: 79px;
    margin-left: 60px;
}
.footer-services .services1 .services-title{
    float: left;
    margin-left: 65px;
    margin-bottom: 35px;
    width: 65px;
    height: 16px;
    font-size: 16px;
    color: #999;
}
.footer-services .services1 .services-info{
    margin-top: 35px;
}
.footer-services .services1 .info1{
    float: left;
    width: 93px;
    height: 93px;
    border: 1px solid #eee;
}
.footer-services .services1 .info1 .bgi{
    margin-top: 20px;
    margin-left: 30px;
    width: 29px;
    height: 27px;
    background-image: url(../image/sprites.png);
    background-position: -250px -70px;
}
.footer-services .services1 .info1-title{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
    color: #999;
}


.footer-services .services1 .info2{
    float: left;
    width: 93px;
    height: 93px;
    border: 1px solid #eee;
    margin-left: 6px;
}
.footer-services .services1 .info2 .bgi{
    margin-top: 20px;
    margin-left: 30px;
    width: 29px;
    height: 29px;
    background-image: url(../image/sprites.png);
    background-position: -350px -70px;
}
.footer-services .services1 .info2-title{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
    color: #999;
}
/* 服务2 */
.footer-services .services2{
    float: left;
    width: 192px;
    height: 143px;
    margin-top: 79px;
    margin-left:118px;
}
.footer-services .services2 .services-title{
    float: left;
    margin-left: 65px;
    margin-bottom: 35px;
    width: 65px;
    height: 16px;
    font-size: 16px;
    color: #999;
}
.footer-services .services2 .services-info{
    margin-top: 35px;
}
.footer-services .services2 .info1{
    float: left;
    width: 93px;
    height: 93px;
    border: 1px solid #eee;
}
.footer-services .services2 .info1 .bgi{
    margin-top: 20px;
    margin-left: 30px;
    width: 35px;
    height: 30px;
    background-image: url(../image/sprites.png);
    background-position: -205px -13px;
}
.footer-services .services2 .info1-title{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 25px;
    color: #999;
}


.footer-services .services2 .info2{
    float: left;
    width: 93px;
    height: 93px;
    border: 1px solid #eee;
    margin-left: 6px;
}
.footer-services .services2 .info2 .bgi{
    margin-top: 20px;
    margin-left: 30px;
    width: 35px;
    height: 30px;
    background-image: url(../image/sprites.png);
    background-position: -350px -13px;
}
.footer-services .services2 .info2-title{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 30px;
    color: #999;
}
/* 下载页面 */
.services3{
    float: left;
    width: 241px;
    height: 156px;
    margin: 79px 93px 0 100px;
}
.services3 .services-title{
    height: 16px;
    font-size: 16px;
    color: #999;
    margin-left: 95px;
    margin-bottom: 24px;
}
.services3 .services-info{
    width: 241px;
    height: 116px;
}
.services3 .services-info .info1{
    width: 116px;
    height: 116px;
    padding: 7px;
    background-image: url(../uploads/qrcode.png);
    background-size: contain;
    border: 1px solid #eee;
}
.services3 .services-info .info2{
    width: 116px;
    height: 116px;
    padding-left: 26px;
}
.services3 .services-info .info2-title1{
    width: 100px;
    height: 36px;
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 18px;
    color: #999;
}
.services3 .services-info .info2-title2{
    width: 103px;
    background-color: #27ba9b;
    padding: 9px 23px;
    font-size: 14px;
    color: #fff;
}
.services4{
    float: left;
    width: 190px;
    height: 156px;
    margin-top: 79px;
    margin-left: 50px;
    /* background-color: #27ba9b; */
}
.services4 .info1{
    width: 64px;
    height: 16px;
    font-size: 16px;
    color: #999;
    margin-left: 50px;
}
.services4 .info2{
    width: 160px;
    height: 17px;
    font-size: 25px;
    color: #666;
    margin-top: 40px;
}
.services4 .info3{
    margin-top: 40px;
    width: 190px;
    height: 14px;
    font-size: 16px;
    color:#999;
}
/* 页脚结束 */